<body>
    <div id="cadastro">
        <span>Cadastro de Cliente</span>
    </div>
    <form action="">
        <label for="id">Id:</label>
        <input type="text" name="id" id="id"/><br />
        <label for="nome">Nome:</label>
        <input type="text" name="nome" id="nome"/><br />
        <label for="nome">Sobrenome:</label>
        <input type="text" name="sobrenome" id="sobrenome"/><br />
        <label for="nome">E-mail:</label>
        <input type="text" name="email" id="email"/><br />
        <input type="submit" value="Salvar" class="botao-cadastro">
    </form>
</body>
