<body>
    <div id="cadastro">
        <span>Cadastro de Cliente</span>
    </div>
    <form (ngSubmit)="salvar()">
        <label for="id">Id:</label>
        <input type="text" name="id" id="id" [(ngModel)]="cliente.id"/>
        <label for="nome">Nome:</label>
        <input type="text" name="nome" id="nome" [(ngModel)]="cliente.nome"/>
        <label for="nome">Sobrenome:</label>
        <input type="text" name="sobrenome" id="sobrenome" [(ngModel)]="cliente.sobrenome"/>
        <label for="nome">E-mail:</label>
        <input type="text" name="email" id="email" [(ngModel)]="cliente.email"/>
        <input type="submit" value="Salvar" class="botao-cadastro">
    </form>
</body>
