<body>
<p class="nome-pagina">Tipo de Clientes</p>
    <table *ngIf="lista.length>0; else listaVazia">
        <thead>
            <tr>
                <th>Id: </th>
                <th>Ano Cadastrado: </th>
                <th>Status: </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of lista">
                <td>{{item.id}}</td>
                <td>{{item.ano_cadastro}}</td>
                <td>{{item.status}}</td>
            </tr>
        </tbody>
    </table>

</body>

<ng-template #listaVazia>
  <div >Nenhum cadastro salvo.</div>
</ng-template>
