

table {
    width: 50%;
    margin: auto;
    border-radius: 4px;
}

th{
    background-color: #DAE7DD;
}

td{
    background: #fff;
    opacity: 0.6;
}

.nome-pagina{
    font-size: 20px;
    width: 50%;
    margin: auto;
    padding-top: 15px;
    text-align: center;
    padding-bottom: 15px;
}

div{
  font-size: 20px;
  width: 50%;
  margin: auto;
  padding-top: 15px;
  text-align: center;
  padding-bottom: 15px;
}
