<body>
    <p class="nome-pagina">Lista de Clientes</p>
        <table *ngIf="lista.length>0; else listaVazia">
            <thead>
                <tr>
                    <th>Id: </th>
                    <th>Nome: </th>
                    <th>Sobrenome: </th>
                    <th>Email </th>
                    <th>Status </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of lista">
                    <td>{{item.id}}</td>
                    <td>{{item.nome}}</td>
                    <td>{{item.sobrenome}}</td>
                    <td>{{item.email}}</td>
                    <td>{{item.tipocliente.status}}</td>
                </tr>
            </tbody>
        </table>
    </body>

    <ng-template #listaVazia>
      <div >Nenhum cadastro salvo.</div>
    </ng-template>
