<body>
    <div id="cadastro">
        <span>Cadastro de Tipo de Cliente</span>
    </div>
    <form (ngSubmit)="salvar()">
        <label for="id">Id:</label>
        <input type="text" name="id" id="id" [(ngModel)]="tipoCliente.id"/><br />
        <label for="nome">Ano do Cadastro:</label>
        <input type="text" name="ano_cadastro" id="ano_cadastro" [(ngModel)]="tipoCliente.ano_cadastro"/><br />
        <label for="nome">Status:</label>
        <input type="text" name="status" id="status" [(ngModel)]="tipoCliente.status"/><br />
        <input type="submit" value="Salvar" class="botao-cadastro">
    </form>
</body>
